In [1]:
import numpy as np
import pandas as pd

In [2]:
k = np.array([0.0000005,0.000005,0.00005,0.0001,0.0005,0.001,0.005,0.01,0.02,0.03,0.04,0.05,0.07,0.1,0.3,0.5,0.7,1])
position_at_time_T = np.array([9.9956,9.9585,9.69276,9.49017,8.64413,8.08835,6.35500,5.46535,4.52218,3.96931,3.58235,3.28615,2.85099,2.40683,1.23859,0.84395,0.64121,0.47176])

In [3]:
record = pd.DataFrame()

for i in np.arange(18):
    record_one = pd.DataFrame([{'position at time T':position_at_time_T[i],'k value':k[i]}],index=[i])
    record = pd.concat([record, record_one])

In [4]:
record

         k value  position at time T
0   5.000000e-07             9.99560
1   5.000000e-06             9.95850
2   5.000000e-05             9.69276
3   1.000000e-04             9.49017
4   5.000000e-04             8.64413
5   1.000000e-03             8.08835
6   5.000000e-03             6.35500
7   1.000000e-02             5.46535
8   2.000000e-02             4.52218
9   3.000000e-02             3.96931
10  4.000000e-02             3.58235
11  5.000000e-02             3.28615
12  7.000000e-02             2.85099
13  1.000000e-01             2.40683
14  3.000000e-01             1.23859
15  5.000000e-01             0.84395
16  7.000000e-01             0.64121
17  1.000000e+00             0.47176

In [5]:
dt = np.array([0.01, 0.005, 0.0025, 0.002, 0.001])
eta = np.array([0.2, 0.021, 0.003, 0.0017, 0.00034])
n_iter = np.array([20000, 50000, 150000, 200000, 500000])
time_to_converge = np.array(['16s', '2min', '20min', '40min', '6h15min'])

In [6]:
record2 = pd.DataFrame()

for i in np.arange(5):
    record_one2 = pd.DataFrame([{'dt':dt[i], 'eta':eta[i], 'n_iter':n_iter[i], 'time to converge':time_to_converge[i]}],index=[i])
    record2 = pd.concat([record2, record_one2])

In [7]:
record2

       dt      eta  n_iter time to converge
0  0.0100  0.20000   20000              16s
1  0.0050  0.02100   50000             2min
2  0.0025  0.00300  150000            20min
3  0.0020  0.00170  200000            40min
4  0.0010  0.00034  500000          6h15min